*{
    background-color: #3a3b3a;
}

#title{
    color: white;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
}

#container{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100vw;
}

.item{
    flex-grow: 1; 
    border-radius: 25%;
    text-align: center;
    color:black;
    background-color: white;
    flex-basis: 100px;
    width: 25%;
    height: 100px;
    flex-shrink: 0;
}